{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="page" id="produtos">
  <div class="page-actions">
    <div>
      <h2>{{ title }}</h2>
      <p>Modelo de listagem para cadastro de produtos. Total de produtos: {{ total }}</p>
    </div>
    <button onclick="window.location.href = '{% url 'product:create' %}'" class="btn primary"
      data-modal="modalProduto">Novo Produto</button>
  </div>

  <div class="filter-bar">
    <input type="text" placeholder="Buscar por código ou produto..." />
  </div>

  <div class="panel">
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Produto</th>
          <th>Data de modificação</th>
          <th>Estoque</th>
          <th>Preço</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr>
          <td>{{ p.sku }}</td>
          <td> <a href="{% url 'product:update' p.id %}">
              {{ p.title }}</a>
          </td>
          <td>{{ p.modifield_at|date:"d/m/Y" }}</td>
          <td>{{ p.stock }}</td>
          <td>R$ {{ p.price|floatformat:2 }}</td>
          <td>{{ p.active|yesno:"Ativo,Inativo" }}</td>
          <td class="actions">
            <button onclick="window.location.href = '{% url 'product:update' p.id %}'">Editar</button>

            <form method="post" action="{% url 'product:delete' p.id %}"
              onsubmit="return confirm('Tem certeza que deseja excluir este produto?');">
              {% csrf_token %}
              <button type="submit" class="badge danger">Delete</button>
            </form>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}