{% extends 'base.html' %}
{% load static %}
{% block content %}
 <section class="page" id="produtos">
          <div class="page-actions">
            <div>
              <h2>Produtos</h2>
              <p>Modelo de listagem para cadastro de produtos.</p>
            </div>
            <button class="btn primary" data-modal="modalProduto">Novo Produto</button>
          </div>

          <div class="filter-bar">
            <input type="text" placeholder="Buscar por código ou produto..." />
          </div>

          <div class="panel">
            <table>
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Produto</th>
                  <th>Categoria</th>
                  <th>Estoque</th>
                  <th>Preço</th>
                  <th>Status</th>
                  <th>Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>PRD001</td>
                  <td></td>
                  <td>Instrumentos</td>
                  <td>42</td>
                  <td>R$ 489,00</td>
                  <td><span class="badge success">Ativo</span></td>
                  <td class="actions"><button>Editar</button><button>Excluir</button></td>
                </tr>
                <tr>
                  <td>PRD002</td>
                  <td>Kit Curetas Gracey</td>
                  <td>Periodontia</td>
                  <td>18</td>
                  <td>R$ 249,00</td>
                  <td><span class="badge success">Ativo</span></td>
                  <td class="actions"><button>Editar</button><button>Excluir</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
{% endblock %}