{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ERP Básico</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/product.css' %}" />
</head>
<body>
  <div class="app">
    <aside class="sidebar">
      <div class="sidebar-logo">
        <span class="logo-icon">ERP</span>
        <div>
          <strong>Meu Sistema</strong>
          <small>Gestão Comercial</small>
        </div>
      </div>

      <nav class="sidebar-menu">
        <button onclick="window.location.href='{% url 'index' %}'" class="menu-item" data-page="dashboard">Dashboard</button>
        <button onclick="window.location.href='{% url 'product:product' %}'" class="menu-item">Produtos</button>
        <!-- <button onclick="window.location.href='{ url 'costumers' %}'" class="menu-item" >Clientes</button> -->
        <!-- <button onclick="window.location.href='{ url 'order' %}'" class="menu-item" >Pedidos de Venda</button> -->
        
      </nav>
    </aside>

    <main class="main">
     
      {% block content %}
      {% endblock %}
    </main>
  </div>

  <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
